@font-face { font-family:'Wastinger'; src: url(../font/WastingerDisplayFreePersonal-MVydr.ttf);}
html, body { margin: 0px; padding: 0px; font-size: 14px; font-family:'Wastinger'; }

/* header.html */
#nav { position: fixed; top: 0px; left: 0px; z-index: 999; height: 40px; background-color: #563d7c; }
#nav>div { display: inline; float: left; line-height: 38px; }
#nav_sub { display: none; z-index: 999; line-height: 28px; padding-right: 10px; border-radius: 5px; background-color: #888888; }
#nav>div>a, #nav_sub>a { text-decoration: none; color: #ffffff; font-size: 18px; font-style: italic; margin-left: 20px; }

/* common */
#wrapper { margin-top: 40px; }

a { text-decoration: none; font-style: italic; color: #000000; }
a:hover { color: #ff0000; }

.tips { font-size: 12px; font-style: italic; color: #888888; }

/* 分页 */
.page>div { display: inline; float: left; }
.page>.pagelist>nav>ul>li>input { width: 60px; text-align: center; border-color: #6A0888; color: #000000; }
.page>.pageinfo { margin-top: 7px; }
.page>.pageinfo>span { margin-left: 10px; color: #888888; font-style: italic; }
.page>.pageinfo>span>b { margin: 0px 5px; color: #000000; }

/* 标签 */
.tag { display: inline; float: left; background-color: #E6E6E6; line-height: 25px; margin: 2px 0px 5px 7px; padding: 0px 7px; border-radius: 2px; 
font-weight: bold; font-style: italic; color: #000000; cursor: pointer; }