@font-face { font-family:'Wastinger'; src: url(../font/WastingerDisplayFreePersonal-MVydr.ttf);}
html, body { margin: 0px; padding: 0px; font-size: 14px; font-family:'Wastinger'; }

/* header.html */
#nav { position: fixed; top: 0px; left: 0px; z-index: 999; height: 40px; background-color: #563d7c; }
#nav>div { display: inline; float: left; line-height: 38px; }
#nav_sub { display: none; z-index: 999; line-height: 28px; padding-right: 10px; border-radius: 5px; background-color: #888888; }
#nav>div>a, #nav_sub>a { text-decoration: none; color: #ffffff; font-size: 18px; font-style: italic; margin-left: 15px; }

#wrapper { margin-top: 40px; }
