.log-msg { border:1px dashed #cccccc; border-radius: 5px; }
.log-msg>div>div { margin: 0px; margin-top: 5px; }

.log-sys { height: 500px; overflow: auto; border-bottom: 1px solid #cccccc; }

.fileinfo { color: #888888; border: 1px dashed #cccccc; border-radius: 5px; line-height: 30px; }
.fileinfo>div>span { font-weight: bold; margin: 0px 20px 0px 5px; }