.req_nav { line-height: 30px; text-align: right; opacity: 0.8; }
.req_nav>a { font-style: italic; margin-left: 10px; color: rgb(172, 147, 8); font-weight: bold; }

/* category */
.edit_card { position: fixed; top: 50px; right: 10px; width: 500px; border: 2px solid #cccccc; border-radius: 5px; padding: 10px; }

/* edit */
.edit_nav { position: absolute; right: 20px; }
#contentWnd { height: 620px; }
/* importance class */
.i1 { color: #ff0000; }
.i3 { color: #888888; }

.req_list { overflow: auto; }
.req_list>div { display: inline; float: left; margin-left: 30px; line-height: 25px; border-bottom: 1px dashed #dedede; }
.req_list>div>span { margin-right: 5px; }
.req_list>div>a { cursor: pointer; margin-left: 5px; }
.req_list>div>a:active { color: #ff0000; }

#src { height: 600px; overflow: auto; }

/* requirement */
.nav_view { position: fixed; right: 10px; top:60px; z-index: 999; }
.view_container { border: 2px solid #888; border-radius: 5px; margin-top: 50px; }

/* svg style */
.background { stroke: white; stroke-width: 1px; fill: white; }
.node  { stroke: #fff; stroke-width: 1px; cursor: move; }
.group { stroke: #fff; stroke-width: 1px; opacity: 0.7; }
.link  { stroke: #7a4e4e; stroke-width: 3px; stroke-opacity: 1; }
.label { cursor: move; }

.label { width: 30px; height: 100px; font-size: 12px; }

.detail { 
    position: fixed; bottom: 10px; left: 10px; 
    z-index: 999; opacity: 0.7; 
    border: 1px dashed #cccccc; border-radius: 5px; 
    line-height: 25px; background-color: #fff;
    max-width: 600px;
}
.detail>div { margin: 5px 10px; }
.detail>div:not(:last-child) { border-bottom: 1px dashed #cccccc; }
.detail>div:nth-child(1)>span { margin-left: 10px; }

.detail>div>p { margin-bottom: 5px; }