/* category */
.edit_card { position: fixed; top: 50px; right: 10px; width: 500px; border: 2px solid #cccccc; border-radius: 5px; padding: 10px; }

#contentWnd { height: 500px; }

/* importance class */
.i1 { color: #ff0000; }
.i3 { color: #888888; }