/* edit.html */
.edit_card { position: fixed; top: 50px; right: 10px; width: 500px; border: 2px solid #cccccc; border-radius: 5px; padding: 10px; }
.notify { font-size: 14px; font-style: italic; color: #888888; }

.category_id { font-style: italic; color: #888888; }

/* resource.html */
.resource_list { height: 768px; }
.resource_list>div { height: 32px; line-height: 32px; border-bottom: 1px dashed #cccccc; overflow: hidden; }
.resource_list>div>img { cursor: pointer; margin-left: 10px; }

.relate { height: 32px; width: 32px; margin-top: 2px; cursor: pointer; }
.relate_true { background: url(../images/relate.png) no-repeat; } 
.relate_false { background: url(../images/unrelate.png) no-repeat; } 


/* index */
.category_card { 
    position: fixed; right: 20px; top: 60px; 
    width: 600px; padding: 7px; background-color: #dddddd; 
    z-index: 999; opacity: 0.5;
}