<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <script src="/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script> 
    <script src="/node_modules/angular/angular.min.js" type="text/javascript"></script>
    <!-- angularjs clipboard -->
    <script type="text/javascript" src="/node_modules/angular-clipboard/angular-clipboard.js"></script>

    <!-- 自定义 -->
    <title>寄存器映射</title>
    <script src="/view/js/common.js" type="text/javascript"></script>
    <link  href="/chip/view/css/index.css" rel="stylesheet" />
    <script src="/chip/view/js/map.js" type="text/javascript"></script>  
</head>
<body ng-app="mapApp">
    <div ng-include="'/view/header.html'"></div>
    <div id="wrapper" ng-controller="mapCtrl" style="overflow-x: auto;">
        <div class="mt-2 ml-2" style="width: calc(100% - 60px); overflow: auto;">
            <div class="map">
                <div ng-repeat="x in reglist">
                    <!--- 寄存器 --->
                    <div title="{{x.name}}" idx="r{{x.id}}"
                        ng-mouseenter="reg_info_display(x);" ng-mouseleave="info_close();" 
                        ng-click="bitsSelect('r'+x.id, x)">{{x.name|limitTo:10}}</div>
                    <!-- 位组 --->
                    <div ng-repeat="y in x.bitslist2" title="{{y.name}}" idx="b{{y.id}}"
                        ng-class="{'map_bits_valid':y.id}" style="height: {{21 * y.cnt}}px; line-height:{{21 * y.cnt}}px" 
                        ng-mouseenter="y.id && bits_info_display(y);" ng-mouseleave="info_close();" 
                        ng-click="bitsSelect('b'+y.id)">{{y.name|limitTo:10}}</div>
                </div>
            </div>
        </div>
        <div class="map_sidebar">
            <div ng-click="sidebar_menu('one')">模块选择</div>
            <div ng-click="sidebar_menu('two')">功能选择</div>
            <div clipboard text="copyText" on-copied="copySuccess()">复制已选位组</div>
        </div>

        <!-- 搜索框-->
        <div style="position: fixed; top: 3px; right: 10px;">
            <input type="text" class="form-control form-control-sm my-1 text-center" ng-model="str" placeholder="搜索寄存器或位组" />
        </div>
        <!-- 菜单 -->
        <div class="map_menu" ng-mouseleave="menu_select=''">
            <!-- 芯片/模块选择 -->
            <div class="menu_extend" ng-show="menu_select=='one'">
                <div class="ititle">芯片</div>
                <div class="ilist chipContainer" style="min-height: 50px;">
                    <span class="badge badge-dark" ng-repeat="x in chiplist"
                        ng-click="chip_select(x);" >{{x.name}}<i>({{x.width}})</i></span>
                </div>
                <div class="ititle">模块</div>
                <div class="ilist moduleContainer" style="min-height: 50px;">
                    <span class="badge badge-secondary" ng-repeat="x in modulelist"
                        ng-click="module_select(x);" title="{{x.fullname}}">{{x.name}}</span>
                </div>
            </div>
            <!-- 选中位组设置 -->
            <div class="menu_extend" ng-show="menu_select=='two'">            
                功能列表，暂未实现
            </div>
        </div>

        <div class="map_info"></div>
    </div>

</body>
</html>
