<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <!-- put jquery before angularjs -->
    <script src="/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script> 
    <script src="/node_modules/angular/angular.min.js" type="text/javascript"></script>
    <!-- Custom Declaration -->
    <title><%=title%></title>
    <script src="/view/js/common.js" type="text/javascript"></script>
    <script src="/view/js/index.js" type="text/javascript"></script>
</head>
<body ng-app="appApp">
    <div ng-include="'/view/header.html'"></div>
    <div id="wrapper" class="container-fluid" ng-controller="appCtrl">
        <div class="row">
            <div class="col mt-3"><h4>Web Name: <%=title%></h4></div>
        </div>
        <div class="row">
            <div class="col"><h4>Version: <%=updateAt%></h4></div>
        </div>
    </div>
</body>
</html>