<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <script src="/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script> 
    <script src="/node_modules/angular/angular.min.js" type="text/javascript"></script>
    <!-- Bootstrap -->
    <script src="/node_modules/popper.js/dist/umd/popper.min.js" type="text/javascript"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- font-awesome -->
    <link  href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- 自定义 -->
    <title>基金筛选</title>
    <script src="/view/js/common.js" type="text/javascript"></script>
    <script src="/fund/view/js/index.js" type="text/javascript"></script>
    <link  href="/fund/view/css/fund.css" rel="stylesheet" />
</head>
<body ng-app="appApp">
    <div ng-include="'/view/header.html'"></div>
    <div id="wrapper" class="container-fluid" ng-controller="appCtrl">
        <div class="row">
            <div class="col-5 mt-3 ml-2 filter-options">
                <div class="filter-ops">
                    <div class="filter-clear" ng-click="filter_clear();"></div>
                    <div class="filter-apply" ng-click="filter_apply();"></div>
                </div>
                
                <nav class="mx-2 mt-2">
                    <div class="nav nav-tabs row" role="tablist">
                        <span class="filter-title">Filters</span>
                        <a class="nav-link" data-toggle="tab" href="#nav-company" role="tab" name='company'>Company</a>
                        <a class="nav-link" data-toggle="tab" href="#nav-fund" role="tab" name='fund'>Fund</a>
                        <a class="nav-link" data-toggle="tab" href="#nav-statistic" role="tab" name='statistic'>Statistic</a>
                        <a class="nav-link" data-toggle="tab" href="#nav-value" role="tab" name='value'>Value</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade" id="nav-company" role="tabpanel">
                        <!-- 基金公司筛选 -->
                        <div class="row mt-3">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">创建年限</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="filter.company.create_year_min" placeholder="min，如5">
                                    <input type="text" class="form-control" ng-model="filter.company.create_year_max" placeholder="max，如10">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">基金总额（亿元）</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="filter.company.money_min" placeholder="min，如10.2">
                                    <input type="text" class="form-control" ng-model="filter.company.money_max" placeholder="max，如100">
                                </div>                            
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">基金总数（个）</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="filter.company.fund_min" placeholder="min，如1">
                                    <input type="text" class="form-control" ng-model="filter.company.fund_max" placeholder="max，如15">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">经理总数（人）</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="filter.company.manager_min" placeholder="min，如1">
                                    <input type="text" class="form-control" ng-model="filter.company.manager_max" placeholder="max，如10">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-fund" role="tabpanel">
                        <!-- 基金筛选 -->
                        <div class="row mt-3">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">创建年限</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="filter.fund.create_year_min" placeholder="min，如1">
                                    <input type="text" class="form-control" ng-model="filter.fund.create_year_max" placeholder="max，如10">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">资产规模（亿元）</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="filter.fund.money_min" placeholder="min，如1.5">
                                    <input type="text" class="form-control" ng-model="filter.fund.money_max" placeholder="max，如10.0">
                                </div>                            
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-statistic" role="tabpanel">
                        <!-- 统计增长率筛选 -->
                        <div class="row mt-3">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">近1周（%）</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="filter.statistic.week1_min" placeholder="min，如-0.1">
                                    <input type="text" class="form-control" ng-model="filter.statistic.week1_max" placeholder="max，如5.2">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">近1月（%）</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="filter.statistic.month1_min" placeholder="min，如-0.1">
                                    <input type="text" class="form-control" ng-model="filter.statistic.month1_max" placeholder="max，如7.2">
                                </div>                            
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">近3月（%）</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="filter.statistic.month3_min" placeholder="min，如-0.1">
                                    <input type="text" class="form-control" ng-model="filter.statistic.month3_max" placeholder="max，如10.1">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">近6月（%）</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="filter.statistic.month6_min" placeholder="min，如-0.1">
                                    <input type="text" class="form-control" ng-model="filter.statistic.month6_max" placeholder="max，如15.1">
                                </div>                            
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">近1年（%）</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="filter.statistic.year1_min" placeholder="min，如-0.6">
                                    <input type="text" class="form-control" ng-model="filter.statistic.year1_max" placeholder="max，如18.1">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">近2年（%）</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="filter.statistic.year2_min" placeholder="min，如-1.4">
                                    <input type="text" class="form-control" ng-model="filter.statistic.year2_max" placeholder="max，如20.1">
                                </div>                            
                            </div>
                        </div>        
                        <div class="row mt-3">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">近3年（%）</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="filter.statistic.year3_min" placeholder="min，如-0.3">
                                    <input type="text" class="form-control" ng-model="filter.statistic.year3_max" placeholder="max，如30.1">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">成立来（%）</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="filter.statistic.from_start_min" placeholder="min，如-0.2">
                                    <input type="text" class="form-control" ng-model="filter.statistic.from_start_max" placeholder="max，如32.1">
                                </div>                            
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-value" role="tabpanel">
                        <!-- 净值筛选 -->
                        <div class="row mt-3">
                            <div class="col-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">年限</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="filter.value.inc_min_year" placeholder="5，即5年内">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">增长率小于（%）</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="filter.value.inc_min" placeholder="min，如-0.2">
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">次数范围</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="filter.value.inc_min_count_min" placeholder="min，如1">
                                    <input type="text" class="form-control" ng-model="filter.value.inc_min_count_max" placeholder="max，如10">
                                </div>                            
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">年限</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="filter.value.inc_max_year" placeholder="3，即3年内">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">增长率大于（%）</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="filter.value.inc_max" placeholder="max，如3.2">
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">次数范围</span>
                                    </div>
                                    <input type="text" class="form-control" ng-model="filter.value.inc_max_count_min" placeholder="min，如2">
                                    <input type="text" class="form-control" ng-model="filter.value.inc_max_count_max" placeholder="max，如15">
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-result"></div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" ng-model="filter_title" >
                            <button class="btn btn-outline-secondary" type="button" ng-click="add()">存储当前过滤器配置</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col filter-list">
                        <div ng-repeat="x in filter_list">
                            <a href="#" ng-click="filter_get(x.id);">{{x.value|limitTo:10}}</a>
                            <i class="fa fa-trash-o" ng-click="delete(x.id);"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mt-3">
                <div class="detail"></div>
                <div class="list mt-2">
                    <a ng-repeat="x in result_list" href="{{detail_url(x.code)}}" target='_blank' ng-mouseenter="detail(x.code)">{{detail_title(x)}}</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>